body{
    max-width:100%;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}
*{
    font-family: inter;
}
.nav{
    /* background: rgb(0, 0, 0); */
    height: 4rem;
    display: flex;
    width: 100%;
    position: absolute;
   align-items: center;
   justify-content: center;
    top:0;
}
.nav>img{
    position: absolute;
    margin: 2rem;
    height: 3rem;
    left: 0;
}
.sub_nav{
    display: inline-flex;
    color: white;
}
.sub_nav>div{
    position: relative;
    margin: 2rem;
    font-family: 'Inter';
    cursor: pointer;
font-style: normal;
font-weight: 500;
/* font-size: 36px; */
line-height: 44px;
color: #5C5C5C;

}
.home_bg{
    height: 100vh;
    width: 100%;
    z-index: -99;
    position: relative;
    /* background: black; */
}
.home_bg>img{
    position:absolute;
    z-index: 999;
    height: fit-content;
    width: 100%;
    bottom: -70vh;
}
.home_bg>p{
    font-family: 'Inter';
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 58px;
    letter-spacing: 0.22em;
    color: #5C5C5C; 
    position: fixed;
    top: 35vh;
    left: 20%;
}

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20vh;
    letter-spacing: 1vw;
    position: fixed;
    top: 15vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background:url('/source/rock.jpeg');
     background-size: auto 200%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;}
@keyframes shine {
        from {
          background-position: center 200%;
        }
        to {
          background-position: center 0%;
        }}

.sub_nav>div::before{
content: '';
height: 2px;
width: 100%;
position: absolute;
bottom: 10px;
transform-origin: left;
transform: scaleX(0);
/* opacity: 0; */
background: #F49414;
}
.navitem:hover ~.sub_nav>div::before{
transform: scaleX(1);
/* opacity: 1; */
}
.stick{
    position: fixed;
    top:0;
    z-index: 11;
    background: white;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
.about{
    margin-top: 70vh;
    z-index: -1;
    height: 200vh;
    width: 100%;
    background: white;
}
.zoominto{
    position: relative;
    height: 100vh !important;
    /* width: 100%; */
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.zoom{
    /* background-image: url('/source/logo.png'); */
    color: #F49414;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 40vh;
    letter-spacing: 1vw;
    margin-bottom: auto;
    max-height: 100vh !important;
    max-width: 100wh !important;
    display: grid;
    align-items: center;
    justify-content: center;
    background-size: 10% 10%;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* width: 100%; */
}
.WWD{
    height: 1000vh;
    width: 100%;
    background: linear-gradient(126.92deg, #F49414 -1.1%, #FFAD40 97.08%);;
}
.H-WWD{
    padding-top: 5vh;
    padding: 10vh;
font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 900;
font-size: 7rem;
line-height: 155px;
color: #FFFFFF;
margin-bottom: 20%;
opacity: 0.8;
}
.WWD-E{
    height: 15%;
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}
.WWD-E>img{
    height: 60vh;
    position: absolute;
    top:0;
}
.WWD-EH{
    font-family: 'Montserrat',sans-serif;
font-style: normal;
font-weight: 1000;
font-size: 9rem;
line-height: 155px;
color: #FFFFFF;
opacity: 0.8;
width: 100%;
position: absolute;
text-align: center;
}
